<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments.html::headerfiles">

    <title>Adding Faculty</title>
</head>
<body>
<header th:insert="fragments.html::nav"></header>
<main id="main">
    <section id="about" class="about">

        <div class="container">
            <h3>Faculty Form</h3>
            <hr>
            <p class="h4 mb-3">Save Faculty</p>

            <form action="#" th:action="@{/faculty/saveFaculty}" th:object="${faculty}"
                  method="POST">
                <!-- add a hidden form field to handle the update and delete -->
                <input type="hidden" th:field="*{facultyId}"/>

                <input type="text" th:field="*{facultyName}"
                       class="form-control mb-4 col-4" placeholder="Faculty Name">
                <button type="submit" class="btn btn-info col-2">Save</button>
            </form>
            <hr>
            <a th:href="@{/index}">Back to Home</a>

        </div>
    </section>
</main>

<div th:insert="fragments.html::footer"></div>
<div th:insert="fragments.html::scripts"></div>
</body>
</html>