<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments.html::headerfiles">
    <title>Faculties</title>
</head>
<body>
<header th:insert="fragments.html::nav"></header>
<main th:insert="main">
    <section id="about" class="about">

        <div class="container">
            <ol class="breadcrumb">
                <li><a href="/home">Home</a></li>
                <li><a href="/help">Get Help</a></li>
            </ol>

            <h2>Our Faculties</h2>

            <div class="col-md-9">
                <div class="" data-th-each="faculty : ${faculties}">
                    <div class="product-info simpleCart_shelfItem">
                        <div class="product-info-cust">
                            <span>Faculty of </span>  <h4 th:text="${faculty.facultyName}"></h4>
                            <div class="" data-th-each="department : ${faculty.departments}">-->
                                <ul>
                                    <ol>
                                        <h5><a th:text="${department.deptName}"
                                               th:href="@{/department/department(deptId=${department.deptId})}"></a></h5>
                                    </ol>

                                </ul>
                            </div>
                            <a class="btn btn-info col-2" th:href="@{/editFacultyForm(facultyId=${faculty.facultyId})}">Edit?</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        </div>

        </div>
    </section>
</main>
<div th:insert="fragments.html::footer"></div>
<div th:insert="fragments.html::scripts"></div>
</body>
</html>