<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="fragments.html::headerfiles">

    <title>Programs</title>
</head>
<body>
<header th:insert="fragments.html::nav"></header>

<main id="main">
<section class="about" id="about">
<div class="container">
   <div class="section-title">
       <h2>Our Programs</h2>
   </div>



    <div class="col-md-9">
        <div class="" th:each= "program : ${programs}">
                <div class="product-info simpleCart_shelfItem">
                    <div class="product-info-cust">
                      <span>Course name </span>  <h4 th:text="${program.programName}"></h4>
                        <!--<a class="btn btn-info col-3" th:href="@{/generateSchedule(courseId=${course.courseId})}">Generate Schedule</a>-->
                        <a class="btn btn-info col-2"  th:href="@{/program/editProgram(programeId=${program.programeId})}">Edit?</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

        </div>
    </div>

</div>
</section>
</main>
<footer th:insert="fragments.html::footer"></footer>
<div th:insert="fragments.html::scripts"></div>

</body>
</html>